/* CSS for active links */
.nav-link.active {

    /* Màu của liên kết đang hoạt động */
    font-weight: bolder ;
    text-decoration: underline;
    color: black !important;


    /* Đậm hơn */
    /* Bạn có thể thêm các hiệu ứng khác như gạch chân, thay đổi kích thước, v.v. */
}

/* CSS for hover effect on nav links */


.navbar {
    background-color: transparent;


}

.navbar:hover {
    background-color: rgba(181, 181, 181, 0.5) !important;
    opacity: 2;


    /* Thay thế #yourColor bằng màu bạn muốn */
}




/* Khi hover vào navbar */
.nav-link:hover {
    color: black !important;
    /* Chuyển màu thành đen khi hover */
}

nav ul li {
    display: inline-block;
    list-style: none;
    position: relative;
}

nav ul li:after {
    content: '';
    width: 1px;
    height: 2px;
    background: black;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.userr {
    color: black;
}

.userr.active {
    text-decoration: underline;

}

nav ul li {
    font-weight: bold;
}