:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container-search {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    width: 1200px;
    height: 81px;
    margin: 0 auto;
    padding: 4px 31px 4px 31px;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    justify-content: center;
    bottom: 11%;
    background-color: white;
    border-radius: 16px;
    border-style: solid;
}


.where {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 6px;
    position: relative;
    width: 247.873px;
    padding: 17px 0 17px 0;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    border-radius: 9px;

}

.vector {
    flex-shrink: 0;
    position: relative;
    width: 21.873px;
    height: 18.344px;
    background: url(./assets/images/381ac99f-6b91-4237-965a-b33e386b90e2.png) no-repeat center;
    background-size: cover;
    z-index: 2;
}

.where-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 69px;
    height: 33px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    white-space: nowrap;
    z-index: 3;
}

.all-where {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 145px;
    height: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto, var(--default-font-family);
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.vector-2 {
    flex-shrink: 0;
    position: absolute;
    width: 17.519px;
    height: 8.665px;
    top: 45%;
    left: 80%;
    background: url(./assets/images/a57ca20e-621b-422a-9694-54478212e99c.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 1;
}

.type {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    position: relative;
    width: 238px;
    padding: 17px 0 17px 0;
    background: rgba(255, 255, 255, 0);
    z-index: 5;
    overflow: hidden;
    border-radius: 9px;
}

.vector-3 {
    flex-shrink: 0;
    position: relative;
    width: 24.609px;
    height: 25px;
    background: url(./assets/images/ad0260ec-a68c-442f-b543-61b5c8fa9e09.png) no-repeat center;
    background-size: cover;
    z-index: 6;
}

.type-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 69px;
    height: 34px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    z-index: 7;
}

.all-type {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 145px;
    height: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto, var(--default-font-family);
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.vector-5 {
    flex-shrink: 0;
    position: absolute;
    width: 7.07%;
    height: 8.795px;
    top: 45%;
    left: 80%;
    background: url(./assets/images/c6b058f3-a402-4488-bc4e-675e5cd1862a.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
}

.when {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 14px;
    position: relative;
    width: 266.219px;
    padding: 17px 0 17px 0;
    background: rgba(255, 255, 255, 0);
    z-index: 10;
    overflow: hidden;
    border-radius: 9px;
}

.vector-6 {
    flex-shrink: 0;
    position: relative;
    width: 24.219px;
    height: 24.219px;
    background: url(./assets/images/7cc7096d-93c1-4b42-8e4c-be5b69852815.png) no-repeat center;
    background-size: cover;
    z-index: 11;
}

.when-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 69px;
    height: 34px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    z-index: 12;
}

.date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 145px;
    height: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto, var(--default-font-family);
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 13;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.vector-8 {
    flex-shrink: 0;
    position: absolute;
    width: 18.816px;
    height: 8.795px;
    top: 45%;
    left: 80%;
    background: url(./assets/images/9fc3861c-d6d2-4d39-90c6-1f602754d912.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 14;
}

.guest {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: relative;
    width: 255px;
    padding: 17px 0 17px 0;
    background: rgba(173, 23, 23, 0);
    z-index: 15;
    overflow: hidden;
    border-radius: 9px;
}

.vector-9 {
    flex-shrink: 0;
    position: relative;
    width: 25px;
    height: 17.5px;
    background: url(./assets/images/76f3418a-f4c4-468a-9409-53eba30f8ba0.png) no-repeat center;
    background-size: cover;
    z-index: 16;
}

.guests {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 69px;
    height: 34px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    z-index: 17;
}

.zero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 145px;
    height: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto, var(--default-font-family);
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.vector-a {
    flex-shrink: 0;
    position: absolute;
    width: 18.023px;
    height: 8.795px;
    top: 45%;
    left: 80%;
    background: url(./assets/images/f268cd34-2a90-445e-b00d-6660d4cf0988.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 19;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 147px;
    height: 63px;
    padding: 24px 36px 24px 36px;
    cursor: pointer;
    background: #5fa619 !important;
    border: none;
    z-index: 20;
    overflow: hidden;
    border-radius: 13px;
}

.search-span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 50px;
    height: 22px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    z-index: 21;
}