:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container-HT {
    position: relative;
    width: 1728px;
    height: 1000px;
    margin-top: -10%;

    background: #ffffff;
    overflow: hidden;

}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 178px;
    margin: 42px 0 0 789px;
    padding: 10px 10px 10px 10px;
    z-index: 2;
}

.explore-tours {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 158px;
    height: 18px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    z-index: 3;
}

.frame-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 480px;
    margin: 0 0 0 624px;
    padding: 10px 10px 10px 10px;
}

.new-popular-tour {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 460px;
    height: 150px;
    color: #000000;
    font-family: Cambria, var(--default-font-family);
    font-size: 64px;
    font-weight: 700;
    line-height: 75.031px;
    text-align: center;
    z-index: 1;
}

.flex-row-fb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1585px;
    height: 354px;
    margin: 39px 0 0 64px;
    z-index: 64;
}

.frame-2 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 382px;
    padding: 10px 10px 10px 10px;
    z-index: 4;
}

.popular-tour {
    flex-shrink: 0;
    position: relative;
    width: 370px;
    height: 334px;
    z-index: 5;
}

.from-price {
    position: relative;
    width: 122.1px;
    height: 32px;
    margin: 15px 0 0 235.567px;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 7;
}

.from {
    position: relative;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    -webkit-text-stroke: 1px #ffffff;
}

.price {
    position: relative;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 28.128px;
    text-align: center;
    -webkit-text-stroke: 1px #ffffff;
}

.location {
    display: block;
    position: relative;
    height: 17px;
    margin: 79px 0 0 15.875px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
}

.tour-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 354.125px;
    height: 68px;
    margin: -9px 0 0 15.875px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 42.192px;
    text-align: left;
    z-index: 9;
    -webkit-text-stroke: 1px #ffffff;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/c5d2987dafcd0b98307233ef59bdfe3e62300dc6.png) no-repeat center;
    background-size: cover;
    filter: blur(1px);
    z-index: 6;
}

.frame-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2px;
    position: absolute;
    width: 105px;
    height: 48px;
    top: 192px;
    left: 188px;
    padding: 10px 10px 10px 10px;
    z-index: 10;
}

.star1 {
    flex-shrink: 0;
    position: relative;
    width: 8px;
    height: 9px;
    background: url(./assets/images/9d4bd1c2-5d4c-403f-9531-b7c3eb2c0af4.png) no-repeat center;
    background-size: cover;
    z-index: 11;
}



.rating {
    flex-shrink: 0;
    position: relative;
    width: 35px;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 16;
}

.rating-number {
    position: relative;
    color: #fdfdfd;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
}

.divider {
    position: relative;
    color: #ffffff;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
}

.total-stars {
    position: relative;
    color: #ffffff;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 28.128px;
    text-align: center;
}

.frame-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 61px;
    height: 20px;
    top: 206px;
    left: 13px;
    padding: 10px 10px 10px 10px;
    z-index: 17;
}

.vector {
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 16px;
    background: url(./assets/images/098dfb89-544e-4543-a778-842ee448c23f.png) no-repeat center;
    background-size: cover;
    z-index: 18;
}

.duration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 31px;
    height: 21px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    white-space: nowrap;
    z-index: 19;
}

.rectangle-button {
    position: absolute;
    width: 217px;
    height: 49px;
    top: 254px;
    left: 45px;
    cursor: pointer;
    background: rgba(217, 217, 217, 0);
    border: none;
    z-index: 20;
}

.div-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 214px;
    height: 49px;
    top: 254px;
    left: 45px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #000000;
    z-index: 21;
}

.span-more-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 116px;
    height: 28px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 22;
    -webkit-text-stroke: 1px #f8f8f8;
}

.div-arrow {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    background: url(./assets/images/0ef10beb-a734-40cb-a015-f3ca28822547.png) no-repeat center;
    background-size: cover;
    z-index: 23;
}

.div-frame-9 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 382px;
    padding: 10px 10px 10px 10px;
    z-index: 24;
}

.div-popular-tour {
    flex-shrink: 0;
    position: relative;
    width: 370px;
    height: 334px;
    z-index: 25;
}

.div-from {
    position: relative;
    width: 122.1px;
    height: 32px;
    margin: 15px 0 0 235.567px;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 27;
}

.span-from {
    position: relative;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    -webkit-text-stroke: 1px #fbfbfb;
}

.span-dollar {
    position: relative;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 28.128px;
    text-align: center;
    -webkit-text-stroke: 1px #fbfbfb;
}

.span-location {
    display: block;
    position: relative;
    height: 17px;
    margin: 79px 0 0 15.875px;
    color: #080000;
    font-family: Amiri, var(--default-font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
}

.span-tour-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 354.125px;
    height: 68px;
    margin: -9px 0 0 15.875px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 42.192px;
    text-align: left;
    z-index: 29;
    -webkit-text-stroke: 1px #ffffff;
}

.rectangle-a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/020b1039df93803bdeec02b5f3af562ab7d4bec2.png) no-repeat center;
    background-size: cover;
    filter: blur(1px);
    z-index: 26;
}

.div-frame-b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2px;
    position: absolute;
    width: 105px;
    height: 48px;
    top: 192px;
    left: 188px;
    padding: 10px 10px 10px 10px;
    z-index: 30;
}



.div-rating {
    flex-shrink: 0;
    position: relative;
    width: 35px;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 36;
}

.span-rating {
    position: relative;
    color: #fdfdfd;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
}

.span-slash {
    position: relative;
    color: #ffffff;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
}

.span-total {
    position: relative;
    color: #ffffff;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 28.128px;
    text-align: center;
}

.div-frame-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 61px;
    height: 20px;
    top: 206px;
    left: 13px;
    padding: 10px 10px 10px 10px;
    z-index: 37;
}

.div-vector {
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 16px;
    background: url(./assets/images/7be92162-70de-4959-a230-164e9e88c692.png) no-repeat center;
    background-size: cover;
    z-index: 38;
}

.span-days {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 31px;
    height: 21px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    white-space: nowrap;
    z-index: 39;
}

.rectangle-11 {
    position: absolute;
    width: 217px;
    height: 49px;
    top: 254px;
    left: 45px;
    background: rgba(217, 217, 217, 0);
    z-index: 40;
}

.div-frame-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 214px;
    height: 49px;
    top: 254px;
    left: 45px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #000000;
    z-index: 41;
}

.more-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 116px;
    height: 28px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 42;
    -webkit-text-stroke: 1px #ffffff;
}

.arrow {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    background: url(./assets/images/eab1a408-9673-431e-882c-f1a125f65baf.png) no-repeat center;
    background-size: cover;
    z-index: 43;
}

.frame-13 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 382px;
    padding: 10px 10px 10px 10px;
    z-index: 44;
}

.popular-tour-14 {
    flex-shrink: 0;
    position: relative;
    width: 370px;
    height: 334px;
    z-index: 45;
}

.from-price-15 {
    position: relative;
    width: 122.1px;
    height: 32px;
    margin: 15px 0 0 235.567px;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 47;
}

.from-16 {
    position: relative;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    -webkit-text-stroke: 1px #ffffff;
}

.price-17 {
    position: relative;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 28.128px;
    text-align: center;
    -webkit-text-stroke: 1px #ffffff;
}

.location-18 {
    display: block;
    position: relative;
    height: 17px;
    margin: 79px 0 0 15.875px;
    color: #030000;
    font-family: Amiri, var(--default-font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    white-space: nowrap;
    z-index: 48;
}

.tour-name-19 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 354.125px;
    height: 68px;
    margin: -9px 0 0 15.875px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 42.192px;
    text-align: left;
    z-index: 49;
    -webkit-text-stroke: 1px #ffffff;
}

.rectangle-1a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/5ee74bad0e1a7c83d48733ab9a5899f891f0197a.png) no-repeat center;
    background-size: cover;
    filter: blur(1px);
    z-index: 46;
}

.frame-1b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2px;
    position: absolute;
    width: 105px;
    height: 48px;
    top: 192px;
    left: 188px;
    padding: 10px 10px 10px 10px;
    z-index: 50;
}






.rating-21 {
    flex-shrink: 0;
    position: relative;
    width: 35px;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 56;
}

.rating-number-22 {
    position: relative;
    color: #fdfdfd;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
}

.divider-23 {
    position: relative;
    color: #ffffff;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
}

.total-stars-24 {
    position: relative;
    color: #ffffff;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 28.128px;
    text-align: center;
}

.frame-25 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 61px;
    height: 20px;
    top: 206px;
    left: 13px;
    padding: 10px 10px 10px 10px;
    z-index: 57;
}

.vector-26 {
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 16px;
    background: url(./assets/images/1a2e98dd-32e9-4ce3-bb71-1bf431b0ec04.png) no-repeat center;
    background-size: cover;
    z-index: 58;
}

.duration-27 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 31px;
    height: 21px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    white-space: nowrap;
    z-index: 59;
}

.button {
    position: absolute;
    width: 217px;
    height: 49px;
    top: 254px;
    left: 45px;
    cursor: pointer;
    background: rgba(217, 217, 217, 0);
    border: none;
    z-index: 60;
}

.frame-28 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 214px;
    height: 49px;
    top: 254px;
    left: 45px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #000000;
    z-index: 61;
}

.more-information-29 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 116px;
    height: 28px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    z-index: 62;
    -webkit-text-stroke: 1px #ffffff;
}

.arrow-2a {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    background: url(./assets/images/4be62f5e-4033-4ae6-b589-7ead5569bb94.png) no-repeat center;
    background-size: cover;
    z-index: 63;

}

.frame-2b {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 382px;
    padding: 10px 10px 10px 10px;
    z-index: 64;
}

.popular-tour-2c {
    flex-shrink: 0;
    position: relative;
    width: 370px;
    height: 334px;
    z-index: 65;
}

.from-price-2d {
    position: relative;
    width: 122.1px;
    height: 32px;
    margin: 15px 0 0 235.567px;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 67;
}

.from-text {
    position: relative;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    -webkit-text-stroke: 1px #ffffff;
}

.price-2e {
    position: relative;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 28.128px;
    text-align: center;
    -webkit-text-stroke: 1px #ffffff;
}

.location-2f {
    display: block;
    position: relative;
    height: 17px;
    margin: 79px 0 0 15.875px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    white-space: nowrap;
    z-index: 68;
}

.tour-name-30 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 354.125px;
    height: 68px;
    margin: -9px 0 0 15.875px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 42.192px;
    text-align: left;
    z-index: 69;
    -webkit-text-stroke: 1px #ffffff;
}

.rectangle-31 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/da7411afb37abccfe251cad85e0490753f354e25.png) no-repeat center;
    background-size: cover;
    filter: blur(1px);
    z-index: 66;
}

.frame-32 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2px;
    position: absolute;
    width: 105px;
    height: 48px;
    top: 192px;
    left: 188px;
    padding: 10px 10px 10px 10px;
    z-index: 70;
}





.rating-37 {
    flex-shrink: 0;
    position: relative;
    width: 35px;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 76;
}

.rating-value {
    position: relative;
    color: #fdfdfd;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
}

.separator {
    position: relative;
    color: #ffffff;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
}

.total-rating {
    position: relative;
    color: #ffffff;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 28.128px;
    text-align: center;
}

.frame-38 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 61px;
    height: 20px;
    top: 206px;
    left: 13px;
    padding: 10px 10px 10px 10px;
    z-index: 77;
}

.vector-39 {
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 16px;
    background: url(./assets/images/055d730f-07b6-4069-9239-650b05bdafec.png) no-repeat center;
    background-size: cover;
    z-index: 78;
}

.duration-3a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 31px;
    height: 21px;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    white-space: nowrap;
    z-index: 79;
}

.rectangle-3b {
    position: absolute;
    width: 217px;
    height: 49px;
    top: 254px;
    left: 45px;
    background: rgba(217, 217, 217, 0);
    z-index: 80;
}

.frame-3c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 214px;
    height: 49px;
    top: 254px;
    left: 45px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #000000;
    z-index: 81;
}

.more-info-button {
    flex-shrink: 0;
    position: relative;
    width: 116px;
    height: 28px;
    cursor: pointer;
    color: #000000;
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    white-space: nowrap;
    background: transparent;
    border: none;
    z-index: 82;
    -webkit-text-stroke: 1px #ffffff;
}

.arrow-3d {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    background: url(./assets/images/35a1d539-dbdc-4015-aa5d-2f35d0b3cd97.png) no-repeat center;
    background-size: cover;
    z-index: 83;
}

.flex-row {
    position: relative;
    width: 1579px;
    height: 261px;
    margin: -1px 0 0 74px;
    z-index: 104;
}

.frame-3e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 382px;
    height: 246px;
    top: 0;
    left: 1197px;
    padding: 10px 10px 10px 10px;
    z-index: 98;
}

.rectangle-3f {
    flex-shrink: 0;
    position: relative;
    width: 372px;
    height: 226px;
    font-size: 0px;
    z-index: 99;
}

.ultimate-flexibility {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 372px;
    height: 53px;
    margin: 87px 0 0 0;
    color: #000000;
    font-family: Arial, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 22.998px;
    text-align: center;
    z-index: 101;
}

.control-options {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 372px;
    height: 63px;
    margin: 0 0 0 0;
    color: rgba(0, 0, 0, 0.6);
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    z-index: 102;
}

.rectangle-40 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 100;
}

.frame-41 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 390px;
    height: 258px;
    top: 3px;
    left: 396px;
    padding: 10px 10px 10px 10px;
    z-index: 91;
}

.rectangle-42 {
    flex-shrink: 0;
    position: relative;
    width: 370px;
    height: 238px;
    z-index: 92;
}

.rectangle-43 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 93;
}

.vector-44 {
    position: absolute;
    width: 20.33%;
    height: 20.8%;
    top: 10.62%;
    left: 39.67%;
    background: url(./assets/images/cbf42252-4932-482f-ba06-a30494603b3d.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 96;
}

.line {
    position: absolute;
    width: 0.27%;
    height: 71.24%;
    top: 10.62%;
    left: 100%;
    background: url(./assets/images/85989ede-2eef-4b8f-9e1d-26a60d02f3c5.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 97;
}

.ultimate-flexibility-45 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 370px;
    height: 23.45%;
    top: 38.5%;
    left: 0;
    color: #000000;
    font-family: Arial, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 22.998px;
    text-align: center;
    z-index: 94;
}

.control-options-46 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 370px;
    height: 27.88%;
    top: 61.95%;
    left: 0;
    color: rgba(0, 0, 0, 0.6);
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    z-index: 95;
}

.frame-47 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 372px;
    height: 246px;
    top: 5px;
    left: 0;
    padding: 10px 10px 10px 10px;
    z-index: 84;
}

.memorable-experience {
    flex-shrink: 0;
    position: relative;
    width: 362px;
    height: 226px;
    z-index: 85;
}

.rectangle-48 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 86;
}

.vector-49 {
    position: absolute;
    width: 20.33%;
    height: 20.8%;
    top: 12.39%;
    left: 39.67%;
    background: url(./assets/images/f201b045-591c-449a-be27-11d7bcf1cb67.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 87;
}

.line-4a {
    position: absolute;
    width: 0.28%;
    height: 71.24%;
    top: 12.39%;
    left: 100%;
    background: url(./assets/images/4898fe89-40eb-4ef7-b764-b3136f41ffb5.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 90;
}

.memorable-experience-4b {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 362px;
    height: 23.45%;
    top: 38.5%;
    left: 0;
    color: #000000;
    font-family: Arial, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 22.998px;
    text-align: center;
    z-index: 88;
}

.browse-activities {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 340px;
    height: 27.88%;
    top: 61.95%;
    left: 0;
    color: rgba(0, 0, 0, 0.6);
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    z-index: 89;
}

.frame-4c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 370px;
    height: 233px;
    top: 13px;
    left: 805px;
    padding: 10px 10px 10px 10px;
    z-index: 104;
}

.rectangle-4d {
    flex-shrink: 0;
    position: relative;
    width: 360px;
    height: 226px;
    z-index: 105;
}

.vector-4e {
    position: relative;
    width: 73.2px;
    height: 42.421px;
    margin: 24px 0 0 142.8px;
    background: url(./assets/images/f62b079f-c638-4cad-8778-e76c8afbc629.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 111;
}

.rectangle-4f {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 106;
}

.rectangle-50 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 107;
}

.line-51 {
    position: absolute;
    width: 0.28%;
    height: 71.24%;
    top: 10.62%;
    left: 105%;
    background: url(./assets/images/6ef051cc-f379-4a5e-9f23-29b606654c1c.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 110;
}

.diverse-experience {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 360px;
    height: 23.45%;
    top: 38.5%;
    left: 0;
    color: #000000;
    font-family: Arial, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 22.998px;
    text-align: center;
    z-index: 108;
}

.hot-places {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 340px;
    height: 27.88%;
    top: 61.95%;
    left: 0;
    color: rgba(0, 0, 0, 0.6);
    font-family: Amiri, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.128px;
    text-align: center;
    z-index: 109;
}

.money {
    position: absolute;
    width: 3.86%;
    height: 15.88%;
    top: 18.77%;
    left: 85.94%;
    background: url(./assets/images/b1470158-35e4-42dc-8133-03e81555ce9b.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 103;
}

.frame-4c {
    padding-left: 0%;
}